numpy
mcstatus
aiohttp_socks
gtts
pyttsx3
aiohttp
aiosmtplib
aiofiles
selenium
webdriver_manager
tqdm
aio-mc-rcon
mcrcon
numpy
yoloface
IPython
telethon
pandas
openpyxl
xlsxwriter
colorama
mcstatus
aiohttp_socks
yt-dlp
librosa
moviepy
telethon
pandas
openpyxl
xlsxwriter
openai
httpx==0.23.0
feedparser
newspaper3k
lxml[html_clean]
