g4f
pyTelegramBotAPI
qrcode
requests-html
curl_cffi
gTTS
pillow
bs4
google-api-python-client
pytubefix==8.12.2
discord
faker
virustotal-api
SpeechRecognition==3.8.1
scipy
vkpymusic==3.0.0
httpx
vk-api==11.9.9
googletrans==4.0.0-rc1
florestbotfunctions
numpy
mcstatus