g4f==0.3.2.2
pyTelegramBotAPI==4.23.0
qrcode==7.4.2
requests-html==0.10.0
curl_cffi==0.7.1
gTTS==2.5.3
pillow==10.4.0
bs4==0.0.2
google-api-python-client==2.120.0
PySocks==1.7.1
pytubefix==8.12.2
discord==2.3.0
faker==30.3.0
virustotal-api==1.1.11
SpeechRecognition==3.8.1
scipy==1.10.1
vkpymusic==3.0.0
httpx==0.13.3
vk-api==11.9.9
googletrans==4.0.0-rc1